/*  MICROTHEMER STYLES  */


/*= Professores =============== */

/** Professores >> Icon List 1 **/
.uagb-block-efe305f1 .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Icon List 2 **/
.uagb-block-538ddc6b .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Icon List 3 **/
.uagb-block-6699519d .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Info Title 1 **/
.uagb-block-05495ef1 .uagb-ifb-title {
	cursor: default !important;
}

/** Professores >> Info Title 2 **/
.uagb-block-84d3fe0f .uagb-ifb-title {
	cursor: default !important;
}

/** Professores >> Info Title 3 **/
.uagb-block-184903c0 .uagb-ifb-title {
	cursor: default !important;
}

