/*  MICROTHEMER STYLES  */


/*= Professores =============== */

/** Professores >> Icon List 1 **/
.uagb-block-efe305f1 .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Icon List 2 **/
.uagb-block-538ddc6b .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Icon List 3 **/
.uagb-block-6699519d .uagb-icon-list__wrap {
	cursor: default !important;
}

/** Professores >> Info Title 1 **/
.uagb-block-05495ef1 .uagb-ifb-title {
	cursor: default !important;
}

/** Professores >> Info Title 2 **/
.uagb-block-84d3fe0f .uagb-ifb-title {
	cursor: default !important;
}

/** Professores >> Info Title 3 **/
.uagb-block-184903c0 .uagb-ifb-title {
	cursor: default !important;
}

/** Professores >> Kt layout id 84b01a 0a uagb block b0ed19e9 **/
#kt-layout-id_84b01a-0a .uagb-block-b0ed19e9 {
	
}

/** Professores >> Block 18 link **/
#block-18 a {
	white-space: nowrap !important;
}

/** Professores >> Primary site navigation main navigation **/
#primary-site-navigation .main-navigation {
	
}

/** Professores >> Ast desktop header site header primary section center **/
#ast-desktop-header .site-header-primary-section-center {
	
}

/** Professores >> Kt layout id a435aa 6c uagb block 3b185f11 **/
#kt-layout-id_a435aa-6c .uagb-block-3b185f11 {
	
}

/** Professores >> Uagb block d2621b7d uagb icon list wrap **/
.uagb-block-d2621b7d .uagb-icon-list__wrap {
	
}

/** Professores >> Kt layout id 6245ed 83 uagb block 79d25a6a **/
#kt-layout-id_6245ed-83 .uagb-block-79d25a6a {
	
}

/** Professores >> Kt layout id bd674b 65 uagb block 77a722a6 **/
#kt-layout-id_bd674b-65 .uagb-block-77a722a6 {
	
}

/** Professores >> Kt layout id bd674b 65 uagb block c9c21e83 **/
#kt-layout-id_bd674b-65 .uagb-block-c9c21e83 {
	
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {

	/*= Professores =============== */

	/** Professores >> Ast desktop header site header primary section center **/
	#ast-desktop-header .site-header-primary-section-center {
	
}


}

